In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df=pd.read_csv(r'C:\Users\adamya sharma\Downloads\data.csv')
df

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,18202,238813,J. Lundstram,19,https://cdn.sofifa.org/players/4/19/238813.png,England,https://cdn.sofifa.org/flags/14.png,47,65,Crewe Alexandra,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,18203,243165,N. Christoffersson,19,https://cdn.sofifa.org/players/4/19/243165.png,Sweden,https://cdn.sofifa.org/flags/46.png,47,63,Trelleborgs FF,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,18204,241638,B. Worman,16,https://cdn.sofifa.org/players/4/19/241638.png,England,https://cdn.sofifa.org/flags/14.png,47,67,Cambridge United,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,18205,246268,D. Walker-Rice,17,https://cdn.sofifa.org/players/4/19/246268.png,England,https://cdn.sofifa.org/flags/14.png,47,66,Tranmere Rovers,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,18206,246269,G. Nugent,16,https://cdn.sofifa.org/players/4/19/246269.png,England,https://cdn.sofifa.org/flags/14.png,46,66,Tranmere Rovers,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [5]:
df.isnull().sum()

Unnamed: 0           0
ID                   0
Name                 0
Age                  0
Photo                0
                  ...
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Release Clause    1564
Length: 89, dtype: int64

In [6]:
df.drop(columns=['Unnamed: 0', 'ID', 'Photo', 'Flag', 'Club Logo', 'Special', 'Real Face', 'Release Clause', 'Joined', 'Contract Valid Until'], inplace=True)
df

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,Right,1.0,...,43.0,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0
18203,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,Right,1.0,...,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
18204,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,1.0,...,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0
18205,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,1.0,...,50.0,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0
18206,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,1.0,...,33.0,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0

In [7]:
df['Club'].fillna(value='No Club', inplace=True)
df

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,Right,1.0,...,43.0,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0
18203,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,Right,1.0,...,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
18204,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,1.0,...,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0
18205,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,1.0,...,50.0,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0
18206,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,1.0,...,33.0,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0

# FILLING MISSING VALUES

In [8]:
df['Preferred Foot'].isnull().sum()

48

In [9]:
df.drop(columns=['Preferred Foot'], inplace=True)

In [10]:
len(df[df['Position']=='GK'])

2025

In [11]:
df.fillna(value=0, inplace=True)

In [12]:
df.isnull().sum().sum()

0

In [13]:
df[['LS', 'ST', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']]

,LS,ST,LW,LF,CF,RF,RW,LAM,CAM,RAM,...,RM,LWB,LDM,CDM,RWB,LB,LCB,CB,RCB,RB
0,88+2,88+2,92+2,93+2,93+2,93+2,92+2,93+2,93+2,93+2,...,91+2,64+2,61+2,61+2,64+2,59+2,47+2,47+2,47+2,59+2
1,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,...,88+3,65+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,84+3,84+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,89+3,...,88+3,65+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,82+3,82+3,87+3,87+3,87+3,87+3,87+3,88+3,88+3,88+3,...,88+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,42+2,42+2,44+2,44+2,44+2,44+2,44+2,45+2,45+2,45+2,...,44+2,44+2,45+2,45+2,44+2,45+2,45+2,45+2,45+2,45+2
18203,45+2,45+2,39+2,42+2,42+2,42+2,39+2,40+2,40+2,40+2,...,38+2,30+2,31+2,31+2,30+2,29+2,32+2,32+2,32+2,29+2
18204,45+2,45+2,45+2,46+2,46+2,46+2,45+2,44+2,44+2,44+2,...,44+2,34+2,30+2,30+2,34+2,33+2,28+2,28+2,28+2,33+2
18205,47+2,47+2,47+2,46+2,46+2,46+2,47+2,45+2,45+2,45+2,...,46+2,36+2,32+2,32+2,36+2,35+2,31+2,31+2,31+2,35+2
18206,43+2,43+2,45+2,44+2,44+2,44+2,45+2,45+2,45+2,45+2,...,46+2,46+2,46+2,46+2,46+2,46+2,47+2,47+2,47+2,46+2

In [15]:
drop_cols=df.columns[17:40]
df=df.drop(drop_cols, axis=1)

# TRAINING THE DATA

In [16]:
x=df.iloc[:, 17:80]
x

,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...
18202,39.0,52.0,43.0,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0
18203,46.0,33.0,43.0,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0
18204,48.0,43.0,55.0,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0
18205,44.0,47.0,50.0,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0
18206,34.0,49.0,33.0,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0

In [17]:
x=x.astype(int)
x

,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,94,94,75,96,33,28,26,6,11,15,14,8
1,95,82,85,95,28,31,23,7,11,15,14,11
2,89,87,81,94,27,24,33,9,9,15,15,11
3,12,68,40,68,15,21,13,90,85,87,88,94
4,87,94,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...
18202,39,52,43,45,40,48,47,10,13,7,8,9
18203,46,33,43,42,22,15,19,10,9,9,5,12
18204,48,43,55,41,32,13,11,6,5,10,6,13
18205,44,47,50,46,20,25,27,14,6,14,8,9
18206,34,49,33,43,40,43,50,10,15,9,12,9

In [18]:
y=df.iloc[:,[3]]
y

       Overall
0           94
1           94
2           92
3           91
4           91
...        ...
18202       47
18203       47
18204       47
18205       47
18206       46

[18207 rows x 1 columns]

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.3, random_state=1)

In [20]:
from sklearn.linear_model import LinearRegression
lin_regressor=LinearRegression()
lin_regressor.fit(x_train, y_train)
prediction_linear=lin_regressor.predict(x_test)

In [21]:
from sklearn.linear_model import Lasso
lasso_regressor=Lasso()
lasso_regressor.fit(x_train, y_train)
prediction_lasso=lasso_regressor.predict(x_test)

In [22]:
from sklearn.linear_model import Ridge
ridge_regressor=Ridge()
ridge_regressor.fit(x_train, y_train)
prediction_ridge=ridge_regressor.predict(x_test)

In [23]:
from sklearn import metrics

In [24]:
print("Linear Regression")
mae_linear=metrics.mean_absolute_error(y_test, prediction_linear)
print('Mean Absolute Error:' ,mae_linear)
print('Root Mean Squared Error:' ,np.sqrt(metrics.mean_squared_error(y_test, prediction_ridge)))

Linear Regression
Mean Absolute Error: 3.1503347561655977
Root Mean Squared Error: 4.244667662960216

In [25]:
print("Ridge Regression")
mae_ridge=metrics.mean_absolute_error(y_test, prediction_ridge)
print('Mean Absolute Error:' ,mae_ridge)
print('Root Mean Squared Error:' ,np.sqrt(metrics.mean_squared_error(y_test, prediction_ridge)))

Ridge Regression
Mean Absolute Error: 3.1503348949985748
Root Mean Squared Error: 4.244667662960216

In [26]:
print("Lasso Regression")
mae_lasso=metrics.mean_absolute_error(y_test, prediction_lasso)
print('Mean Absolute Error:' ,mae_lasso)
print('Root Mean Squared Error:' ,np.sqrt(metrics.mean_squared_error(y_test, prediction_lasso)))

Lasso Regression
Mean Absolute Error: 3.1665722364554187
Root Mean Squared Error: 4.244303429251107