In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [2]:
df=pd.read_csv(r'C:\Users\adamya sharma\Downloads\train_tweets.csv')
df

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [3]:
df['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [4]:
def drop_features(features,data):
    data.drop(features,inplace=True,axis=1)

In [10]:
import re 
def process_tweet(tweet):
    return " ".join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])"," ",tweet.lower()).split())

In [11]:
df['processed_tweet']=df['tweet'].apply(process_tweet)

In [12]:
df

,id,label,tweet,processed_tweet
0,1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so selfi...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks for lyft credit i can t use cause they ...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in ur
4,5,0,factsguide: society now #motivation,factsguide society now motivation
...,...,...,...,...
31957,31958,0,ate @user isz that youuu?ðððððð...,ate isz that youuu
31958,31959,0,to see nina turner on the airwaves trying to...,to see nina turner on the airwaves trying to w...
31959,31960,0,listening to sad songs on a monday morning otw...,listening to sad songs on a monday morning otw...
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",sikh temple vandalised in in calgary wso conde...
31961,31962,0,thank you @user for you follow,thank you for you follow

In [13]:
drop_features(['id','tweet'],df)

In [14]:
df.info

<bound method DataFrame.info of        label                                    processed_tweet
0          0  when a father is dysfunctional and is so selfi...
1          0  thanks for lyft credit i can t use cause they ...
2          0                                bihday your majesty
3          0      model i love u take with u all the time in ur
4          0                  factsguide society now motivation
...      ...                                                ...
31957      0                                 ate isz that youuu
31958      0  to see nina turner on the airwaves trying to w...
31959      0  listening to sad songs on a monday morning otw...
31960      1  sikh temple vandalised in in calgary wso conde...
31961      0                           thank you for you follow

[31962 rows x 2 columns]>

In [15]:
df

       label                                    processed_tweet
0          0  when a father is dysfunctional and is so selfi...
1          0  thanks for lyft credit i can t use cause they ...
2          0                                bihday your majesty
3          0      model i love u take with u all the time in ur
4          0                  factsguide society now motivation
...      ...                                                ...
31957      0                                 ate isz that youuu
31958      0  to see nina turner on the airwaves trying to w...
31959      0  listening to sad songs on a monday morning otw...
31960      1  sikh temple vandalised in in calgary wso conde...
31961      0                           thank you for you follow

[31962 rows x 2 columns]

In [16]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
count_vect=CountVectorizer(stop_words='english')
transformer=TfidfTransformer()

In [17]:
x=df.iloc[:,1]
x

0        when a father is dysfunctional and is so selfi...
1        thanks for lyft credit i can t use cause they ...
2                                      bihday your majesty
3            model i love u take with u all the time in ur
4                        factsguide society now motivation
                               ...
31957                                   ate isz that youuu
31958    to see nina turner on the airwaves trying to w...
31959    listening to sad songs on a monday morning otw...
31960    sikh temple vandalised in in calgary wso conde...
31961                             thank you for you follow
Name: processed_tweet, Length: 31962, dtype: object

In [18]:
y=df.iloc[:,0]
y

0        0
1        0
2        0
3        0
4        0
        ..
31957    0
31958    0
31959    0
31960    1
31961    0
Name: label, Length: 31962, dtype: int64

In [19]:
x_count=count_vect.fit_transform(x)
x_tfidf=transformer.fit_transform(x_count)

In [20]:
print(x_count.shape)
print(x_tfidf.shape)

(31962, 38763)
(31962, 38763)

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train, x_test, y_train, y_test=train_test_split(x_tfidf,y,test_size=0.3,random_state=1)

# LOGISTIC REGRESSION

In [25]:
from sklearn.linear_model import LogisticRegression
model_linear=LogisticRegression()
model_linear.fit(x_train,y_train)

LogisticRegression()

In [26]:
pred_linear=model_linear.predict(x_test)

In [27]:
from sklearn.metrics import confusion_matrix,f1_score
c_m=confusion_matrix(y_test,pred_linear)
print(c_m)

[[8934    6]
 [ 486  163]]

In [28]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_linear)

0.9486912086766086

# DECISION TREE

In [29]:
from sklearn.tree import DecisionTreeClassifier
model_decision=DecisionTreeClassifier()
model_decision.fit(x_train,y_train)

DecisionTreeClassifier()

In [30]:
pred_decision=model_decision.predict(x_test)

In [31]:
c_m2=confusion_matrix(y_test,pred_decision)
print(c_m2)

[[8742  198]
 [ 283  366]]

In [33]:
accuracy_score(y_test,pred_decision)

0.9498383564500991

# SVM

In [37]:
from sklearn.svm import SVC
model_svm=SVC()

In [38]:
model_svm.fit(x_train,y_train)

SVC()

In [39]:
pred_svm=model_svm.predict(x_test)

In [40]:
accuracy_score(y_test,pred_svm)

0.9555740953175513